{% extends 'base.html.twig' %}
{% block body %}

	<div class="container">
		<div class="contact">
	<h2>CONTACT</h2>
				<div class="contact-in">
				<div class=" col-md-3 contact-right">
				     	<h5>Company Information</h5>
						    	<p>500 Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <a href="mailto:info@mycompany.com">info@mycompany.com</a></p>
				   		<p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
				    </div>
				<div class=" col-md-9 contact-left">
				  
					    <form action="/contact.html" method="POST" id="form1">
					    	<div>
						    	<span>Name</span>
						    	<input name="name" type="text" class="textbox" maxlength="32" required>
						    </div>
						    <div>
						    	<span>E-Mail</span>
					    		<input name="email" class="textbox" type="email" maxlength="32" required ">
						    </div>
						    <div>
						    	<span>Subject</span>
						    	<textarea name="subject"  maxlength="200" required > </textarea>
						    </div>
						   <div>
						   		<input id="submit" type="submit" value="Submit">
								
						  </div>
					    </form>
					    <div id="dbmessage"></div>
				  </div>

					
					  <div class="clearfix"></div>
				 </div>
			    
      		</div>
	</div>
		<div class="map">
				 
				</div>
		
{% endblock %}

{% block javascripts %}


<script>

$(document).ready(function(){
	
	$('#submit').on('click', function(event){
	event.preventDefault();
	var url ="/contact.html";
		console.log(url);
		//$.post(url).done(function(data){
		//	console.log(data);
		//	$('#dbmessage').empty();
		//	$('#dbmessage').prepend(data);
		$.ajax({
				type: 'POST',
				url: url,
				data: $("#form1").serialize(),
				success: function(response) {
				$('#dbmessage').empty();
				$('#dbmessage').prepend(response);
				
				console.log(response);
				}
				
			
		});

	});

});
</script>

{% endblock %}