{% extends 'base.html.twig' %}

{% block body %}

<div class="four">
<h1>Login</h1>
<br />
	<form action="/login.html" method="POST">
		<input name="username" class="textbox adjust" placeholder="Username" maxlength="25" required > 
		<input name="password" type="password" class="textbox adjust" placeholder="Password"  maxlength="64" required > 
		<input type="submit" class="btn">
	</form>
</div>
<style type="text/css">  
.adjust{
height:36px;
} 
.btn{
outline: none;
cursor: pointer;
border: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
color: #fff;
font-size: 1.1em;
padding: 0.5em 0.8em;
width: 5%;
background: #615c85;
margin: -0.2em 1em 0;
line-height: 131%;
border-radius: 0;
}
.btn:hover{
    background: #8fbf00;
}
</style> 

{% endblock %}